<form action="/store/Favourite" method="POST">

    <input type="hidden" name="id" value="<%= home.id %>">
    <button type="submit" class="bg-amber-800 text-white p-2 hover:bg-amber-100 hover:text-black">
        Add to favourite
    </button>
</form>
